/*reset*/
body,html,p,a,span,h1,h2,h3,h4,h5,h6,ul,li {
	padding: 0;
	margin: 0;
}
body,
html {
	font: 16px/2 "微软雅黑","宋体",sans-serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/*layout*/
.cv {
	width: 960px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.intro {
	width: 28%;
	background-color: #336666;
	float: left;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}
.intro .myPoto {
	width: 100%;
	text-align: center;
	margin-top: 3.5rem;
	margin-bottom: -1rem;
}
.intro .myPoto img {
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
}
.intro h1 {
	font-size: 2.6rem;
	color: #fff;
	text-align: center;
	border-bottom: .15rem solid #d7ecf1;
	margin-bottom: 1rem;
}
.intro p {
	line-height: 2rem;
	color: #fff;
	text-align: left;
	padding-left: 2.5rem;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: left center;
}
.intro p.bd {
	background-image: url("../images/bd.png");
}
.intro p.address {
	background-image: url("../images/address.png");
	
}
.intro p.tel {
	background-image: url("../images/tel.png");
}
.intro p.email {
	background-image: url("../images/email.png");
}
.intro p.ex {
	background-image: url("../images/ex.png");
}
.intro p.about {
	font-size: .9rem;
	color: #e2e4e1;
	line-height: 1.8rem;
	padding-left: 0;
	margin-top: 1rem;
	margin-bottom: 12rem;
}
.intro h2 {
	font-size: 1.5rem;
	color: #e2e4e1;
	text-align: center;
	border-bottom: .1rem solid #e2e4e1;
	margin-bottom: 1.5rem;
	margin-top: 1.2rem;
}
.intro .skills li{
	width: 100%;
	color: #e2e4e1;;
	position: relative;
}
.skills li span {
	display: block;
	width: 30%;
	text-align: right;
}
.skills li:before {
	content: "";
	position: absolute;
	top: .6rem;
	left: 35%;
	height: 1rem;
	background-color: #e2e4e1;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;
}
.skills li:after {
	content: "";
	position: absolute;
	top: .6rem;
	left: 35%;
	width: 65%;
	height: 1rem;
	background-color: #008080;;
	border-radius: 10px;
}
.skills .ohtml:before {
	width: 55%;
}
.skills .oCSS:before {
	width: 52%;
}
.skills .ojQuery:before {
	width: 50%;
}
.skills .oJS:before {
	width: 46%;
}
.skills .oBootstrap:before {
	width: 42%;
}
.skills .oSass:before {
	width: 32%;
}
.skills .oWebApp:before {
	width: 30%;
}
.skills .oGit:before {
	width: 24%;
}
.skills .oCSS3:before {
	width: 22%;
}
.skills .oPhotoShop:before {
	width: 18%;
}
.intro .contact {
	position: absolute;
}
.intro .contact div {
	color: #fff;
	padding-left: 2.5rem;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: left center;

}
.contact .homepage {
	background-image: url("../images/homepage.png");
}
.contact .zhihu {
	background-image: url("../images/iconfont-zhihu.png");
}
.contact .weibo {
	background-image: url("../images/weibo.png");
}

.intro .contact a:link,
.intro .contact a:visited {
	color: #fff;
}


/*过往经历*/
.experience {
	width: 59%;
	background-color: #f3f8f1;
	float: left;
	padding-left: 2%;
	padding-right: 3%;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}

/*项目经历*/
.items,
.workExp,
.edu {
	width: 100%;
	margin-top: 1.5rem;
}
.items h2,
.workExp h2,
.edu h2 {
	font-size: 1.5rem;
	color: #404140;
}

.item {
	margin-bottom: .6rem;
}
.item .technology {
	float: right;
	margin-top: -2.5rem;
}
.item .technology span {
	color: #fff;
	background-color: #008080;
	text-align: center;
	padding: 0 .2rem .1rem;
}
.item h3 a,
.work h3,
.edu h3 {
	font-size: 1.3rem;
	color: #366;
/* 	display: inline-block;
border-bottom: 1px solid #366;
padding-bottom: 0; */
}

.item p,
.work p,
.edu p {
	color: #333;
	margin-top: 0;
	font-size: 14px;
}

.items .more {
	margin-top: 1.2rem;
	text-align: center;
}
.items .more a {
	color: #008080;
	text-decoration: underline;
}

/*工作经历*/


.work {
	margin-bottom: 1rem;
}

.work .time,
.edu .time {
	font-size: .8rem;
	color: #008080;
}

.edu {
	padding-bottom: 6rem;
}





































