/*reset*/
body,html,p,a,span,h1,h2,h3,h4,h5,h6,ul,li {
	padding: 0;
	margin: 0;
}
body,
html {
	font: 10px/2 "微软雅黑","宋体",sans-serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/*layout*/
.cv {
	width: 860px;
	position: relative;
	margin: 0 auto;
}

.intro {
	width: 28%;
	background-color: #336666;
	float: left;
	padding-left: 6%;
	padding-right: 6%;
}
.intro h1 {
	font-size: 4.8rem;
	color: #fff;
	text-align: center;
	padding-top: 20rem;
	border-bottom: .2rem solid #d7ecf1;
	margin-bottom: 0;
}
.intro p {
	line-height: 1.2em;
	color: #002525;
	text-align: center;
}
.intro h2 {
	font-size: 2.4rem;
	color: #f3f8f1;
	text-align: center;
	border-bottom: .1rem solid #d7ecf1;
}
.intro .skills li{
	width: 30%;
	text-align: right;
	color: #fff;
}
.intro .contact {
	color: #fff;
}
.intro .contact a:link,
.intro .contact a:visited {
	color: #fff;
}

/*过往经历*/
.experience {
	width: 54%;
	background-color: #f3f8f1;
	float: left;
	padding-left: 2%;
	padding-right: 4%;
	padding-bottom: 4rem;
}

/*项目经历*/
.items,
.workExp,
.edu {
	width: 100%;
}
.items h2,
.workExp h2,
.edu h2 {
	font-size: 2.8rem;
	color: #404140;
}

.item {
	margin-bottom: 1.5rem;
}
.item .technology {
	float: right;
	margin-top: -3rem;
}
.item .technology span {
	color: #fff;
	background-color: #008080;
	text-align: center;
	padding-left: .2rem;
	padding-right: .2rem;
	margin-left: .5rem;
}
.item h3,
.work h3,
.edu h3 {
	font-size: 2rem;
	color: #366;
}
.item p,
.work p,
.edu p {
	color: #494b48;
	margin-top: 0;
}

.items .more {
	text-align: center;
}
.items .more a {
	color: #008080;
	text-decoration: underline;
}

/*工作经历*/
.workExp,
.edu {
	margin-top: 4rem;
}
.work p,
.edu p {
	margin-bottom: 0;
}
.work .time,
.edu .time {
	font-size: 1.2rem;
	color: #008080;
}

/*教育经历*/
.edu h2 {
	margin-bottom: 0;
}
.edu h3 {
	margin-top: 0;
}



































